# File extensions

*~
*#
*.byte
*.native
*.log
examples/Basic
*\#
*.out
*.\#*
*.dep
*.zo

# Build / compilation directories

# OCaml
consynth/_build
consynth/canalysis/_build

#Racket
compiled/

#Oasis
setup.data