# File extensions
*~
*#
*.byte
*.native
*.log
examples/Basic
*\#
*.out
*.\#*
*.dep
*.zo

# Build / compilation directories
# OCaml
_build
ocamllibs/_build
ocamllibs/_build/_digests
ocamllibs/_build/_log
*/tbb_examples/*.cpp
*/dafny_examples/*.dfy
alt-cil/
*.mldylib
*.mlib
*.mllib
*.odocl
META
.idea
CMakeFiles
tbb_test
CMakeCache.txt

#Racket
*/compiled/
consynth/synthServ

#Oasis
setup.data
consynth/setup.ml
myocamlbuild.ml
_tags

#Z3-solver
z3-master/

#Temporary dump files
consynth/dump/conSynth*